.days-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*width: auto;*/
}

.header-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    -unity-text-align: middle-center;
    min-height: 24px;
}
